In [8]:
#python is a high level programming language that is used for different purposes
x = 19
y = 12
x + y

31

###what are we doing today

In [9]:
name = 'n-tech'
Name = 'N-Tech'

In [10]:
name

'n-tech'

In [11]:
Name

'N-Tech'

In [12]:
name = 'n-tech'
Name = 'N-Tech'
name == Name

False

In [13]:
name

'n-tech'

In [14]:
y = 20
x = 20
x == y

True

In [15]:
# VARIABLES
Python variables are containers that store values. we do not need to declare variables before using them.

SyntaxError: invalid syntax (1636829855.py, line 2)

In [ ]:
x = 50
y = 70

In [ ]:
RULES THAT GOVERN VARIABLES
A Python variable name must start with a letter or underscore character
A Python variable name cannot start with a number
A Python variable name can only contain alphanumeric characters and underscores (a - z), 0 - 9 and the underscore symbol (_)
Variable in Python are case-sensitive 
The reserved word (keywords) in Python cannot be used as variable names

In [ ]:
DATA TYPE
Data type in python are the classification or categorization of data items
since everything is an object in python, python data types are classes and variable are instances of those classes
Data types
numeric - numbers
sequence 
boolean (true or false)
set 
dictionary 

NUMERIC
The numeric data type in python represents the data that has numeric value. the numeric value can be integer, float or complex number

In [ ]:
x = 5
print('My data type is:',type (x))

In [ ]:
y = 0.5
print ('My data type is:',type (y))

The sequence data type in Python is the ordered collection of similar or data type 
sequence allow the storing of multiple values in an organized and efficient fashion

## STRING, LIST AND TUPLE
String in Python are arrays of bit representing Unicode characters 
A string is a collection of one or more characters put in a single quote, double quote, or triple quote

In [ ]:
p = 2.5
q = 7
type (p)

In [ ]:
p == q

In [ ]:
y = 6
z = 6
y==z

In [ ]:
y = 'Samuel'

In [ ]:
print (y)

In [ ]:
print(y[4])

## LIST
Lists are just like arrays. It is very flexible as the items in a list do not need to be of the same type. A list in Python can be created just by placing the sequence inside the square bracket

In [ ]:
cities = ["Lagos", "Abuja", "PortHarcourt", "Ibadan", "Enugu"]
print (cities)

In [ ]:
cities = ["Lagos", "Abuja", "PortHarcourt", "Ibadan", 10.5]
print (cities)

In [ ]:
## Python list are mutable

In [ ]:
## TUPLE
A tuple is just like a list. the only difference between tuple and a list is that a tuple is immutable, rigid. And also they can be created by placing the sequence inside the parenteces

In [ ]:
Locations = ("Lagos", "Abuja", "PortHarcourt", "Ibadan", "Enugu")
print (Locations)

## DICTIONARIES
A dictionary in Python is an unordered collection of data values used to store data values. Unlike other data types like a map that holds a single value as an element. 
A dictionary as an element holds a key: value pair. Each key: value pair is separated by a column, whereas each key is separated by comma.

## To create a Python Dictionary

In Python, a dictionary can be created by placing a sequence of elements within a curly bracket separated by commas. 
Values in a dictionary can be of any data type and can be duplicated whereas keys cannot be repeated and must be immutable. The dictionary can also be created 
by the built-in function called dict (). Dictionaries keys are case-sensitive

In [ ]:
dict = {1:'Geeks', 2:'For', 3:'Geeks'}
print (dict)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
pd.read_csv(r'C:\Users\EL-SAMARC\Desktop\newwww\supermarket.csv')

    Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0    750-67-8428,A,Yangon,Member,Female,Health and ...
1    226-31-3081,C,Naypyitaw,Normal,Female,Electron...
2    631-41-3108,A,Yangon,Normal,Male,Home and life...
3    123-19-1176,A,Yangon,Member,Male,Health and be...
4    373-73-7910,A,Yangon,Normal,Male,Sports and tr...
..                                                 ...
995  233-67-5758,C,Naypyitaw,Normal,Male,Health and...
996  303-96-2227,B,Mandalay,Normal,Female,Home and ...
997  727-02-1313,A,Yangon,Member,Male,Food and beve...
998  347-56-2442,A,Yangon,Normal,Male,Home and life...
999  849-09-3807,A,Yangon,Member,Female,Fashion acc...

[1000 rows x 1 columns]

In [34]:
df=pd.read_csv(r"C:\Users\EL-SAMARC\Desktop\newwww\supermarket_sales - Sheet1.csv")
df.head(10)

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,R1C1,Yangon,Customer,Health and beauty,67.99,7.0,7,NaN,23.8%,$475.93,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Electronic \naccessories,15.28,5.0,5,NaN,3.8%,$76.40,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Home and lifestyle,46.33,7.0,7,NaN,16.2%,$324.31,3/3/2019,1:23:00 PM,Credit card,324.31,NaN,16.2155,7.4
3,123-19-1176,A,Yangon,Customer,Health and beauty,58.22,8.0,8,NaN,23.3%,$465.76,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Sports and travel,86.31,7.0,7,NaN,30.2%,$604.17,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Electronic accessories,85.39,7.0,7,NaN,29.9%,$597.73,3/25/2019,6:30:00 PM,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Customer,Electronic accessories,68.84,6.0,6,NaN,20.7%,$413.04,2/25/2019,2:36:00 PM,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Home and lifestyle,73.56,10.0,10,NaN,36.8%,$735.60,2/24/2019,11:38:00 AM,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Customer,Health and beauty,36.26,2.0,2,NaN,3.6%,$72.52,1/10/2019,5:15:00 PM,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Customer,Food and beverages,54.84,3.0,3,NaN,8.2%,$164.52,2/20/2019,1:27:00 PM,Credit card,164.52,NaN,8.2260,5.9

In [36]:
df.tail(10)

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
992,745-74-0715,A,Yangon,Normal,Electronic accessories,58.03,2.0,2,NaN,5.8%,$116.06,3/10/2019,8:46:00 PM,Ewallet,116.06,4.761905,5.8030,8.8
993,690-01-6631,B,Mandalay,Normal,Fashion accessories,17.49,10.0,10,NaN,8.7%,$174.90,2/22/2019,6:35:00 PM,Ewallet,174.90,4.761905,8.7450,6.6
994,652-49-6720,C,Naypyitaw,Customer,Electronic accessories,60.95,1.0,1,NaN,3.0%,$60.95,2/18/2019,11:40:00 AM,Ewallet,60.95,4.761905,3.0475,5.9
995,233-67-5758,C,Naypyitaw,Normal,Health and beauty,40.35,1.0,1,NaN,2.0%,$40.35,1/29/2019,1:46:00 PM,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Home and lifestyle,97.38,10.0,10,NaN,48.7%,$973.80,3/2/2019,5:16:00 PM,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Customer,Food and beverages,31.84,1.0,1,NaN,1.6%,$31.84,2/9/2019,1:22:00 PM,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Home and lifestyle,65.82,1.0,1,NaN,3.3%,$65.82,2/22/2019,3:33:00 PM,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Customer,Fashion accessories,88.34,7.0,7,NaN,30.9%,$618.38,2/18/2019,1:28:00 PM,Cash,618.38,4.761905,30.9190,6.6
1000,NaN,NaN,NaN,NaN,NaN,55665.43,NaN,NaN,NaN,NaN,$-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,R1C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.sample()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
223,279-62-1445,C,Naypyitaw,Customer,Fashion accessories,12.54,1.0,1,NaN,0.6%,$12.54,2/21/2019,12:38:00 PM,Cash,12.54,4.761905,0.627,8.2

In [38]:
df.sample()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
517,521-18-7827,C,Naypyitaw,Customer,Home and lifestyle,39.39,5.0,5,NaN,9.8%,$196.95,1/22/2019,8:46:00 PM,Credit card,196.95,4.761905,9.8475,8.7

In [39]:
df.sample(12)

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
994,652-49-6720,C,Naypyitaw,Customer,Electronic accessories,60.95,1.0,1,NaN,3.0%,$60.95,2/18/2019,11:40:00 AM,Ewallet,60.95,4.761905,3.0475,5.9
386,689-16-9784,C,Naypyitaw,Normal,Food and beverages,46.77,6.0,6,NaN,14.0%,$280.62,3/11/2019,1:37:00 PM,Cash,280.62,4.761905,14.0310,6.0
73,841-35-6630,C,Naypyitaw,Normal,Electronic accessories,75.91,6.0,6,NaN,22.8%,$455.46,3/9/2019,6:21:00 PM,Cash,455.46,4.761905,22.7730,8.7
765,593-14-4239,B,Mandalay,Normal,Home and lifestyle,95.46,8.0,8,NaN,38.2%,$763.68,3/5/2019,7:40:00 PM,Ewallet,763.68,4.761905,38.1840,4.7
319,787-15-1757,C,Naypyitaw,Customer,Health and beauty,44.07,4.0,4,NaN,8.8%,$176.28,2/18/2019,4:28:00 PM,Ewallet,176.28,4.761905,8.8140,8.4
729,299-29-0180,B,Mandalay,Customer,Home and lifestyle,52.18,7.0,7,NaN,18.3%,$365.26,3/9/2019,10:54:00 AM,Cash,365.26,4.761905,18.2630,9.3
601,881-41-7302,C,Naypyitaw,Normal,Fashion accessories,64.99,1.0,1,NaN,3.2%,$64.99,1/26/2019,10:06:00 AM,Credit card,64.99,4.761905,3.2495,4.5
771,759-98-4285,C,Naypyitaw,Customer,Health and beauty,85.87,7.0,7,NaN,30.1%,$601.09,2/27/2019,7:01:00 PM,Credit card,601.09,4.761905,30.0545,8.0
943,449-16-6770,A,Yangon,Normal,Health and beauty,50.79,5.0,5,NaN,12.7%,$253.95,2/19/2019,2:53:00 PM,Credit card,253.95,4.761905,12.6975,5.3
864,124-31-1458,A,Yangon,Customer,Electronic accessories,79.59,3.0,3,NaN,11.9%,$238.77,1/8/2019,2:30:00 PM,Cash,238.77,4.761905,11.9385,6.6
697,826-58-8051,B,Mandalay,Normal,Home and lifestyle,62.19,4.0,4,NaN,12.4%,$248.76,1/6/2019,7:46:00 PM,Ewallet,248.76,4.761905,12.4380,4.3
395,726-27-2396,A,Yangon,Normal,Health and beauty,77.50,5.0,5,NaN,19.4%,$387.50,1/24/2019,8:36:00 PM,Ewallet,387.50,4.761905,19.3750,4.3

In [40]:
df.head()

,Invoice ID,Branch,City,Customer type,Product line,Unit price,Quantity,Review Quantity,Check,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,R1C1,Yangon,Customer,Health and beauty,67.99,7.0,7,NaN,23.8%,$475.93,1/5/2019,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Electronic \naccessories,15.28,5.0,5,NaN,3.8%,$76.40,3/8/2019,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Home and lifestyle,46.33,7.0,7,NaN,16.2%,$324.31,3/3/2019,1:23:00 PM,Credit card,324.31,NaN,16.2155,7.4
3,123-19-1176,A,Yangon,Customer,Health and beauty,58.22,8.0,8,NaN,23.3%,$465.76,1/27/2019,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Sports and travel,86.31,7.0,7,NaN,30.2%,$604.17,2/8/2019,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3

In [41]:
df.shape

(1002, 18)

In [42]:
print("the number of rows in this dataset is:",df.shape[0], "Rows")

the number of rows in this dataset is: 1002 Rows

In [43]:
print("the number of rows in this dataset is:",df.shape[1], "Columns")

the number of rows in this dataset is: 18 Columns

In [44]:
df.isnull().sum()

Invoice ID                    2
Branch                        2
City                          2
Customer type                 2
Product line                  2
Unit price                    1
Quantity                      2
Review Quantity               1
Check                      1002
Tax 5%                        2
 Total                        1
Date                          2
Time                          2
Payment                       2
cogs                          2
gross margin percentage       4
gross income                  2
Rating                        2
dtype: int64

In [45]:
df.dropna()

Empty DataFrame
Columns: [Invoice ID, Branch, City, Customer type, Product line, Unit price, Quantity, Review Quantity, Check, Tax 5%,  Total , Date, Time, Payment, cogs, gross margin percentage, gross income, Rating]
Index: []

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               5 non-null      object
 1   Branch                   5 non-null      object
 2   City                     5 non-null      object
 3   Customer type            5 non-null      object
 4   Product line             5 non-null      object
 5   Unit price               5 non-null      float64
 6   Quantity                 5 non-null      float64
 7   Review Quantity          5 non-null      int64
 8   Check                    0 non-null      float64
 9   Tax 5%                   5 non-null      object
 10  Total                    5 non-null      object
 11  Date                     5 non-null      object
 12  Time                     5 non-null      object
 13  Payment                  5 non-null      object
 14  cogs                     5 non-null      float64
 15  gross margin percentage  4 non-null      float64
 16  gross income             5 non-null      float64
 17  Rating                   5 non-null      float64
dtypes: float64(7), int64(1), object(10)
memory usage: 852.0+ bytes

In [ ]:
df

where you are not sure of you heading e.g review quantity, go to Google. it is obvious the datatype is an object instead of a number. 
so we can change the data type.

The analysis you are meant to carry out determines the columns you are going retain. This will determine our logical understanding of data.

#### Invoice id: Computer-generated sales slip invoice identification number

#### Branch: Branch of supercenter 
#### (3 branches are available identified by A, B and C).

#### City: Location of supercenters

#### Customer type: Type of customers, recorded 
#### by Members for customers using member card 
#### and Normal for without member card.

#### Gender: Gender type of customer

###Product line: General item categorization groups 
###— Electronic accessories, Fashion accessories, 
###Food and beverages, Health and beauty, Home 
###and lifestyle, Sports and travel

###Unit price: Price of each product in $

###Quantity: Number of products purchased by customer

###Tax: 5% tax fee for customer buying

###Total: Total price including tax

###Date: Date of purchase (Record available from January 2019 to March 2019)

###Time: Purchase time (10am to 9pm)

###Payment: Payment used by customer for purchase 
###(3 methods are available — Cash, Credit card and Ewallet)

###COGS: Cost of goods sold

###Gross margin percentage: Gross margin percentage

###Gross income: Gross income

###Rating: Customer stratification rating on their 
###overall shopping experience (On a scale of 1 to 10)

# Univariate Analysis 
###1. Find aggregate sales among branches (categorical column)

###2. Find the Most popular payment method used by customers (Categorical Column)

###3. Find the distribution of customer Ratings  (Numerical Column)

###4. Find the distribution of Cost of Goods Sold (Numerical Column)

###5. Bivariate Analysis/Multivariate Analysis

###1. Does the cost of goods sold affect the Rating that the customers provide? (Numerical - Numerical)

###6. Does gross income affect the Ratings that the customer provides? Numerical - Numerical

###7. Find the most profitable branch as per gross income (numerical - categorical)

###8. Is there any relationship between gender and gross income? (Numerical - Categorical)

###9.Find the product line that generates the most income (Numerical - Categorical)

###10. Find the highest unit price in the product line (Numerical - Categorical)

###12. Find different payment method used by customers citywise (Categorical - Categorical )

###13. Which product line is purchased in the highest quantity?

In [22]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Product line',
       'Unit price', 'Quantity', 'Review Quantity', 'Check', 'Tax 5%', 'Total',
       'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage',
       'gross income', 'Rating'],
      dtype='object')

In [23]:
df['Product line'].nunique()

4

In [24]:
df['Product line'].unique()

array(['Health and beauty', 'Electronic \naccessories',
       'Home and lifestyle', 'Sports and travel'], dtype=object)

In [25]:
df['Payment'].unique()

array(['Ewallet', 'Cash', 'Credit card'], dtype=object)

In [26]:
cat=[]
num=[]
for column in df.columns:
    if df[column].nunique()>10:
        num.append(column)
    else:
        cat.append(column)

In [27]:
cat

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Product line',
 'Unit price',
 'Quantity',
 'Review Quantity',
 'Check',
 'Tax 5%',
 'Total',
 'Date',
 'Time',
 'Payment',
 'cogs',
 'gross margin percentage',
 'gross income',
 'Rating']

In [28]:
num

[]

## Answer to Question 1

In [29]:
df['Branch'].value_counts()

Branch
A       3
R1C1    1
C       1
Name: count, dtype: int64

In [32]:
sns.countplot(data=df, x = 'Branch')
cleaned_df = df[df['Branch'] != 'R1C1']
df.drop(df[df['Branch']=='R1C1'].index, inplace=True)

NameError: name 'sns' is not defined

In [33]:
df['Branch'].unique()

array(['R1C1', 'C', 'A'], dtype=object)

### Rules of Visualization
The first one is comparison. We use comparison when we want to compare unique values. bar chart, line chart (time). Pie chart may be used as well. 
The second is relationship. This is usually for multivariate and bivariate analysis. In rear cases, we use a bar chart for the relationship
Scatter plot for analytical problems
The third one is distribution, How a sample data is distributed across a region or a space. We can use box plot. another one is a histogram 
The Fourth one is composition, Pie chart is used for the sector aggregate of participation in an event, e.g election